li:first-child {
    background-color: rgb(22, 22, 162);
    color:white;
}

li:last-child {
    color:red;
}

p:first-child {
    background-color: rgb(22, 22, 162);
    color:white;
}
p:last-child {
    color:red;
}

li:nth-child(odd) {
    font-weight: bold;
}

p:nth-child(odd) {
    font-weight: bold;
}

li:nth-child(odd) {
    font-weight: bold;
}

p:nth-child(odd) {
    font-weight: bold;
}

p:nth-child(3), p:nth-child(6){
    font-style: italic;
}
