.main {
    position: relative;
    border-color: black;
    width: 800px;
    height: 1000px;
    background: linear-gradient(311deg,rgba(0, 0, 0, 1) 0%, rgba(61, 56, 74, 1) 100%, rgba(237, 221, 83, 1) 100%);
    margin: auto;


}

.img-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.img-container img {
    margin: 0 auto;
    height: 900px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
}

.header {
    font-size: 160px;
    color: rgb(220, 220, 23);
    z-index: 1;
    text-align: center;
    font-weight: bold;
}

.mainArt h1 {
    position:absolute;
    font-size: 40px;
    color: rgb(205, 205, 12);
    bottom: 300px;
    left: 300px;
}
.mainArt h2 {
    position:absolute;
    font-size: 80px;
    color: white;
    bottom: 180px;
    left: 200px;
}

.miniHead {
    position:absolute;
    color:yellow;
    font-size: 20px;
    left: 15px;
}

.miniText {
    position:absolute;
    color:white;
    font-size: 15px;
    left:15px;
    top:240px;

}

.miniHead1 {
    position:absolute;
    color:yellow;
    font-size: 20px;
    left: 15px;
    top: 500px;
}

.miniText1 {
    position:absolute;
    color:white;
    font-size: 15px;
    left:15px;
    top:550px;
}

.miniHead2 {
    position:absolute;
    color:yellow;
    font-size: 20px;
    right: 15px;
    top: 300px;
}

.miniText2 {
    position:absolute;
    color:white;
    font-size: 15px;
    right:15px;
    top:350px;
}

.miniHead3 {
    position:absolute;
    color:yellow;
    font-size: 20px;
    left: 0px;
    bottom: 60px;
    padding: 10px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(83, 119, 237, 1) 100%);
}
.miniHead4 {
    position:absolute;
    color:yellow;
    font-size: 20px;
    right: 0px;
    bottom: 500px;
    padding: 10px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(83, 119, 237, 1) 100%);
}