p::first-letter {
    font-size: 4em;
    color: aquamarine;
}

button {
    background-color: beige;
}

button:hover {
    background-color: rgb(184, 161, 161);
}

.progress {
    background-color: yellow;
    width: 800px;
}
.progress::before {
    content: "";
    width: 0px;
    height: 20px;
    display: block;
    transition: all ease 3s;
}

.progress:hover::before{
    width: 800px;
    height: 20px;
    background-color: rgb(101, 101, 173);
}

.picture {
    opacity: 1;
    transition: ease all 3s; 
}

.picture:hover {
    opacity: 0.5;
}

.picture:hover::before {
    content: "View details";
    position: absolute;
    color: white;
    font-size: 2em;
}

.tooltip {
    color: blue;
  
}

.tooltip::after {
    content:"Tooltip text";
    color: grey;
    opacity: 0;
    border: solid 1px;
    background-color: rgb(52, 50, 50);
    transition: all ease 1s;
    color: white;
    border-radius: 2px;
 
}

.tooltip:hover::after {
    opacity: 1;
}