.header {
    background-color: rgb(85, 85, 182);
    color: white;
    padding: 15px;
    
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;

}

@media only screen and (max-width: 600px) {
    .header {
        background-color: greenyellow;

    }
    .container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 992px) and (min-width: 601px)  {
    .header {
        background-color: red;
    }
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;

}


@media only screen and (max-width: 992px)  {
    .container1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px)   {  
    .container1 {
        grid-template-columns: 1fr;
    }
}

.container2 {
    display: grid;
    grid-template-columns: 25% 75% ;
    margin-top: 50px;
}
.sidebar {
    border: solid 1px;
    background-color: rgb(201, 111, 111);
}

.article {
    border: solid 1px;
    background-color: rgb(131, 163, 152);
}


@media only screen and (max-width: 768px)   {  
    .container2 {
        grid-template-columns: 1fr;
    .sidebar {
        order:1 ;
    }
    }
}

@media only screen and 